@use 'utils' as *;

@layer components {
  .product-option {
    padding: 11px 20px;
    border-radius: 4px;
    border: 1px solid var(--color-m7-neutral-border);
    background: var(--color-m7-neutral-white);
    color: var(--color-m7-neutral-text);
    font-size: 15px;
    cursor: pointer;
  }

  .product-option[data-on] {
    border-color: var(--color-m7-neutral-ink);
    background: var(--color-m7-neutral-ink);
    color: var(--color-m7-neutral-white);
  }
}
