@use 'utils' as *;

@layer components {
  .cart-split {
    align-items: start;
    gap: #{fluid(28, 48)};
    grid-template-columns: 1.5fr 1fr;

    @media (max-width: #{rem-calc(900)}) {
      grid-template-columns: minmax(0, 1fr);
    }
  }
}
