@use 'utils' as *;

@layer components {
  .ui-btn-fill {
    font-family: var(--font-v2-body);
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    background: var(--ui-btn-fill-ground);
    color: var(--ui-btn-fill-color);
  }
}
