@use 'utils' as *;

@layer components {
  .ui-btn-fill {
    font-family: var(--font-v2-body);
    font-size: #{rem-calc(16)};
    font-weight: 500;
    line-height: #{rem-calc(22)};
    background: var(--ui-btn-fill-ground);
    color: var(--ui-btn-fill-color);
  }
}
