@use 'utils' as *;

@layer components {
  .ui-btn-outline {
    font-family: var(--font-v2-body);
    font-size: #{rem-calc(16)};
    font-weight: 500;
    line-height: #{rem-calc(22)};
    color: var(--ui-btn-outline-color);
    border: 1px solid var(--ui-btn-outline-border);
  }
}
