@use 'utils' as *;

@layer components {
  .v2-cta-cols {
    display:grid;
    grid-template-columns:minmax(0,1fr) minmax(0,1fr);
    gap:clamp(32px,8vw,116px);
    align-items:start;

    @media (max-width: 980px) {
      grid-template-columns:minmax(0,1fr);
    }

    @media (max-width: 980px) {
      gap:40px;
    }
  }
}
