@use 'utils' as *;

@layer components {
  .ui-arrow-link {
    font-family: var(--font-v2-body);
    font-size: var(--ui-arrow-link-size);
    font-weight: var(--ui-arrow-link-weight);
    line-height: 22px;
    color: var(--ui-arrow-link-color);
  }
}
