@use 'utils' as *;

@layer components {
  .smart-home-page {
    background: var(--color-v2-wash);
  }

  .sh-section {
    max-width: #{rem-calc(1320)};
    margin: 0 auto;
    padding: #{fluid(55, 100)} var(--v2-pad) 0;
  }
}
